.TITULO{
	color: cyan;
	font-family: 'Annie Use Your Telescope', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Judson', serif;
font-family: 'Karantina', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Poller One', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rock Salt', cursive;
}

.sec_1{
	margin:20px;
}
table{
	
	
}
.Titulo{
       text-align: center;
	color: black;
	background-color:cyan;
	font-family: 'Annie Use Your Telescope', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Judson', serif;
font-family: 'Karantina', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Poller One', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rock Salt', cursive;
}